<svg xmlns="http://www.w3.org/2000/svg" width="390.58" height="73" viewBox="0 0 390.58 73">
	<g id="Group_4" data-name="Group 4" transform="translate(0 -176)">
		<path
			id="Path_4"
			data-name="Path 4"
			d="M1610,181.217h390.58"
			transform="translate(-1610)"
			fill="none"
			stroke="#f6f6f7"
			stroke-width="2"
		/>
		<path
			id="Path_5"
			data-name="Path 5"
			d="M1610,181.217h390.58"
			transform="translate(-1610 56)"
			fill="none"
			stroke="#f6f6f7"
			stroke-width="2"
		/>
		<g id="Group_3" data-name="Group 3" transform="translate(194 -74)">
			<g
				id="Ellipse_5"
				data-name="Ellipse 5"
				transform="translate(92 299)"
				fill="#08080a"
				stroke="#f6f6f7"
				stroke-width="2"
			>
				<circle cx="12" cy="12" r="12" stroke="none" />
				<circle cx="12" cy="12" r="11" fill="none" />
			</g>
			<g
				id="Ellipse_4"
				data-name="Ellipse 4"
				transform="translate(99 306)"
				fill="#f6f6f7"
				stroke="#f6f6f7"
				stroke-width="2"
			>
				<circle cx="5" cy="5" r="5" stroke="none" />
				<circle cx="5" cy="5" r="4" fill="none" />
			</g>
		</g>
		<g
			id="Ellipse_3"
			data-name="Ellipse 3"
			transform="translate(103 232)"
			fill="#08080a"
			stroke="#f6f6f7"
			stroke-width="2"
		>
			<circle cx="5" cy="5" r="5" stroke="none" />
			<circle cx="5" cy="5" r="4" fill="none" />
		</g>
		<g
			id="Ellipse_1"
			data-name="Ellipse 1"
			transform="translate(33 232)"
			fill="#f6f6f7"
			stroke="#f6f6f7"
			stroke-width="2"
		>
			<circle cx="5" cy="5" r="5" stroke="none" />
			<circle cx="5" cy="5" r="4" fill="none" />
		</g>
		<g
			id="Ellipse_6"
			data-name="Ellipse 6"
			transform="translate(292 176)"
			fill="#f6f6f7"
			stroke="#f6f6f7"
			stroke-width="2"
		>
			<circle cx="5" cy="5" r="5" stroke="none" />
			<circle cx="5" cy="5" r="4" fill="none" />
		</g>
		<g
			id="Ellipse_7"
			data-name="Ellipse 7"
			transform="translate(222 176)"
			fill="#08080a"
			stroke="#f6f6f7"
			stroke-width="2"
		>
			<circle cx="5" cy="5" r="5" stroke="none" />
			<circle cx="5" cy="5" r="4" fill="none" />
		</g>
		<g
			id="Ellipse_8"
			data-name="Ellipse 8"
			transform="translate(33 176)"
			fill="#08080a"
			stroke="#f6f6f7"
			stroke-width="2"
		>
			<circle cx="5" cy="5" r="5" stroke="none" />
			<circle cx="5" cy="5" r="4" fill="none" />
		</g>
	</g>
</svg>
