<script>
	import Navigation from '$lib/components/shared/Navigation.svelte';
</script>

<div class="h-screen flex flex-col text-mh-gray-90">
	<main class="h-full pl-8 pr-8 pb-8 overflow-auto">
		<slot />
	</main>
	<Navigation />
</div>
