<script lang="ts">
	import Header from '$lib/components/shared/Header.svelte';
	import HabitSummary from '$lib/components/habit/HabitSummary.svelte';
	import Add from '$lib/vectors/icons/Add.svelte';
	import HabitAdd from '$lib/components/habit/HabitAdd.svelte';
	import Dialog from '$lib/components/shared/Dialog.svelte';
	import FloatingActionButton from '$lib/components/shared/buttons/FloatingActionButton.svelte';
	import EmptyState from '$lib/components/shared/EmptyState.svelte';
	import { getContext, onMount } from 'svelte';
	import type { Readable } from 'svelte/store';
	import {
		checkinStoreKey,
		habitCheckinStoreKey,
		habitStoreKey
	} from '$lib/constants/stores.constants';
	import type { IHabitCheckinStore } from '../../stores/readables/HabitCheckin.store';
	import type { IHabitStore } from '../../stores/writables/Habit.store';
	import type { ICheckinStore } from '../../stores/writables/Checkin.store';
	export let data;

	let isShowHabitAddDialog = false;

	const addHabit = () => {
		isShowHabitAddDialog = true;
	};
	const closeHandler = () => {
		isShowHabitAddDialog = false;
	};

	const habitCheckinStore = getContext<Readable<IHabitCheckinStore>>(habitCheckinStoreKey);
	const habitStore = getContext<IHabitStore>(habitStoreKey);
	const checkinStore = getContext<ICheckinStore>(checkinStoreKey);

	onMount(() => {
		habitStore.set(data.habits);
		checkinStore.set(data.checkins);
	});
</script>

<Header title="minimal habits." />
{#if $habitCheckinStore.getHabitCheckins().length}
	{#each $habitCheckinStore.getHabitCheckins() as habit}
		<section class="mb-11">
			<HabitSummary {habit} />
		</section>
	{/each}
{:else}
	<EmptyState />
{/if}

<div class="fixed bottom-20 right-8">
	<FloatingActionButton on:click={() => addHabit()}>
		<Add />
	</FloatingActionButton>
</div>
{#if isShowHabitAddDialog}
	<Dialog id="habit-add-dialog" let:dialogCloseHandler on:dialogCloseEvent={closeHandler}>
		<HabitAdd on:dialogCloseEvent={dialogCloseHandler} />
	</Dialog>
{/if}
