<script lang="ts">
	import AccountSignIn from '$lib/components/account/AccountSignIn.svelte';
	import AccountSignUp from '$lib/components/account/AccountSignUp.svelte';
	import Dialog from '$lib/components/shared/Dialog.svelte';
	import Header from '$lib/components/shared/Header.svelte';
	import CustomButton from '$lib/components/shared/buttons/base/CustomButton.svelte';
	import Add from '$lib/vectors/icons/Add.svelte';
	import { getContext } from 'svelte';
	import type { IAccountStore } from '../../../stores/writables/Account.store';
	import { accountStoreKey, userStoreKey } from '$lib/constants/stores.constants';
	import type { IUserStore } from '../../../stores/writables/User.store';

	let showAccountSignInDialog = false;
	let showAccountSignUpDialog = false;
	const userStore = getContext<IUserStore>(userStoreKey);
	const accountStore = getContext<IAccountStore>(accountStoreKey);

	const linkAccountHandler = () => {
		showAccountSignInDialog = true;
	};
	const closeHandler = () => {
		showAccountSignInDialog = false;
		showAccountSignUpDialog = false;
	};
	const logoutHandler = () => {
		userStore.signOutUser();
	};
	const linkAccountTypeSwitchEventHandler = () => {
		showAccountSignInDialog = !showAccountSignInDialog;
		showAccountSignUpDialog = !showAccountSignUpDialog;
	};
</script>

<Header title="profile settings." />
{#if $accountStore}
	<section class="mb-8">
		<h3 class=" mb-1 text-2xl font-medium">{$accountStore.name}</h3>
		<h2 class="text-mh-gray-50 text-sm">{$accountStore.email}</h2>
	</section>
	<section class="mb-14">
		<h2 class="text-mh-gray-50 font-medium mb-1">push notifications</h2>
		<h3 class="text-2xl font-medium">on</h3>
	</section>
	<section class="border-y border-mh-gray-20">
		<CustomButton on:click={() => logoutHandler()}>
			<h2 class="text-md font-medium py-4">Sign out</h2>
		</CustomButton>
	</section>
{:else}
	<section>
		<div class="flex justify-between mb-2 items-center">
			<CustomButton on:click={() => linkAccountHandler()}>
				<h3 class="text-2xl font-medium">Link an account</h3>
			</CustomButton>
			<CustomButton on:click={() => linkAccountHandler()}>
				<Add />
			</CustomButton>
		</div>

		<h2 class="text-mh-gray-50 text-sm">to sync your data across multiple devices</h2>
	</section>
	{#if showAccountSignInDialog || showAccountSignUpDialog}
		{#if showAccountSignInDialog}
			<Dialog id="account-sign-in-dialog" let:dialogCloseHandler on:dialogCloseEvent={closeHandler}>
				<AccountSignIn
					on:dialogCloseEvent={dialogCloseHandler}
					on:linkAccountTypeSwitchEvent={linkAccountTypeSwitchEventHandler}
				/>
			</Dialog>
		{:else}
			<Dialog id="account-sign-up-dialog" let:dialogCloseHandler on:dialogCloseEvent={closeHandler}>
				<AccountSignUp
					on:dialogCloseEvent={dialogCloseHandler}
					on:linkAccountTypeSwitchEvent={linkAccountTypeSwitchEventHandler}
				/>
			</Dialog>
		{/if}
	{/if}
{/if}
