<script lang="ts">
	import Done from '$lib/vectors/icons/Done.svelte';
	import { createEventDispatcher, getContext } from 'svelte';
	import Header from '../shared/Header.svelte';
	import FloatingActionButton from '../shared/buttons/FloatingActionButton.svelte';
	import CustomButton from '../shared/buttons/base/CustomButton.svelte';
	import { dialogCloseEvent, linkAccountTypeSwitchEvent } from '$lib/constants/events.constants';
	import Close from '$lib/vectors/icons/Close.svelte';
	import { userStoreKey } from '$lib/constants/stores.constants';
	import type { IUserStore } from '../../../stores/writables/User.store';

	const userStore = getContext<IUserStore>(userStoreKey);
	let name: string;
	let email: string;
	let password: string;
	let confirmPassword: string;
	const dispatch = createEventDispatcher();

	const closeHandler = () => {
		dispatch(dialogCloseEvent);
	};
	const linkNewAccountHandler = () => {
		userStore.createUser({
			name,
			email,
			password
		});
		closeHandler();
	};
	const linkAccountTypeSwitchHandler = () => {
		dispatch(linkAccountTypeSwitchEvent);
	};
</script>

<main class="h-full w-full relative flex flex-col">
	<Header title="link new account.">
		<CustomButton on:click={() => closeHandler()}>
			<Close />
		</CustomButton>
	</Header>
	<section class="h-full text-sm mt-4 mb-8 text-mh-gray-90">
		<!-- svelte-ignore a11y-autofocus -->
		<section class="mb-8">
			<label for="email" class="font-medium">name</label>
			<input
				class="w-full text-2xl font-medium placeholder-mh-gray-30 mt-3"
				name="name"
				id="name"
				type="text"
				placeholder="Peter Parker"
				bind:value={name}
				autofocus
			/>
		</section>
		<section class="mb-8">
			<label for="email" class="font-medium">email</label>
			<input
				class="w-full text-2xl font-medium placeholder-mh-gray-30 mt-3"
				name="email"
				id="email"
				type="email"
				placeholder="peter.parker@gmail.com"
				bind:value={email}
			/>
		</section>
		<section class="mb-8">
			<label for="password" class="font-medium">password</label>
			<input
				class="w-full text-2xl font-medium placeholder-mh-gray-30 mt-3"
				name="password"
				id="password"
				type="password"
				placeholder="******"
				bind:value={password}
			/>
		</section>
		<section class="mb-8">
			<label for="confirm-password" class="font-medium">confirm password</label>
			<input
				class="w-full text-2xl font-medium placeholder-mh-gray-30 mt-3"
				name="confirm-password"
				id="confirm-password"
				type="password"
				placeholder="******"
				bind:value={confirmPassword}
			/>
		</section>
	</section>
	<div class="fixed bottom-8 left-8">
		<CustomButton on:click={() => linkAccountTypeSwitchHandler()}>
			<p class="text-sm font-medium text-mh-gray-50">link existing account instead</p>
			<p class="text-sm font-medium text-mh-gray-90">click here</p>
		</CustomButton>
	</div>
	{#if name && email && password && confirmPassword === password}
		<div class="fixed bottom-8 right-8">
			<FloatingActionButton on:click={() => linkNewAccountHandler()}><Done /></FloatingActionButton>
		</div>
	{/if}
</main>
