<script>
	import { onMount, setContext } from 'svelte';
	import '../app.css';
	import {
		accountStoreKey,
		checkinStoreKey,
		habitCheckinStoreKey,
		habitStoreKey,
		statisticsStoreKey,
		userStoreKey
	} from '$lib/constants/stores.constants';
	import { createAccountStore } from '../stores/writables/Account.store';
	import { createHabitStore } from '../stores/writables/Habit.store';
	import { createCheckinStore } from '../stores/writables/Checkin.store';
	import { createHabitCheckinStore } from '../stores/readables/HabitCheckin.store';
	import { createStatisticsStore } from '../stores/readables/Statistics.store';
	import { auth } from '$lib/firebase/firebase.client';
	import { createUserStore } from '../stores/writables/User.store';

	const userStore = createUserStore()();
	const accountStore = createAccountStore()();
	const habitStore = createHabitStore()();
	const checkinStore = createCheckinStore()();
	const habitCheckinStore = createHabitCheckinStore()(habitStore, checkinStore);
	const statisticsStore = createStatisticsStore()(habitCheckinStore);

	setContext(userStoreKey, userStore);
	setContext(accountStoreKey, accountStore);
	setContext(habitStoreKey, habitStore);
	setContext(checkinStoreKey, checkinStore);
	setContext(habitCheckinStoreKey, habitCheckinStore);
	setContext(statisticsStoreKey, statisticsStore);

	onMount(() => {
		const unsubscribe = auth.onAuthStateChanged(async (user) => {
			if (user) {
				const token = await user.getIdToken();
				const response = await fetch(import.meta.env.VITE_API_BASE_URL + '/auth/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					credentials: 'include',
					body: JSON.stringify({
						idToken: token
					})
				});
				const cookie = await response.headers.get('Set-Cookie');
				if (cookie) {
					localStorage.setItem('sessionCookie', cookie);
				}
				userStore.set(user);
			} else {
				const cookie = localStorage.getItem('sessionCookie');
				if (cookie) {
					await fetch(import.meta.env.VITE_API_BASE_URL + '/auth/logout', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							Cookie: cookie
						},
						credentials: 'include'
					});
				}
				userStore.set(null);
			}
		});

		userStore.subscribe((user) => {
			if (user && user.displayName && user.email) {
				const account = {
					name: user.displayName,
					email: user.email,
					accountId: user.uid
				};
				accountStore.set(account);
			} else {
				accountStore.set(null);
			}
		});
	});
</script>

<slot />
