<script lang="ts">
	import Header from '$lib/components/shared/Header.svelte';
	import StatCard from '$lib/components/shared/StatCard.svelte';
	import Commitment from '$lib/components/shared/Commitment.svelte';
	import { CommitmentSize } from '$lib/constants/ui.constants';
	import EmptyState from '$lib/components/shared/EmptyState.svelte';
	import { getContext } from 'svelte';
	import { habitStoreKey, statisticsStoreKey } from '$lib/constants/stores.constants';
	import type { Readable } from 'svelte/store';
	import type { IHabitStore } from '../../../stores/writables/Habit.store';
	import type { IStatisticsStore } from '../../../stores/readables/Statistics.store';

	const habitStore = getContext<IHabitStore>(habitStoreKey);
	const statisticsStore = getContext<Readable<IStatisticsStore>>(statisticsStoreKey);
</script>

<Header title="statistics." />
{#if $habitStore?.length}<h3 class="mb-8 text-2xl font-medium">Week at a glance</h3>
	<section class="flex justify-between mb-8">
		<StatCard
			score={$statisticsStore.getTotalCheckInsThisWeek()}
			totalScore={$statisticsStore.getTotalCommitmentThisWeek()}
			label={'checkins'}
		/>
		<StatCard
			score={$statisticsStore.getHabitsThisWeek().length}
			totalScore={$habitStore.length}
			label={'habits'}
		/>
		<StatCard score={$statisticsStore.getUniqueDaysCheckedIn()} totalScore={7} label={'days'} />
	</section>
	{#if $statisticsStore.getMostCheckedInHabits()?.length}
		<section class="mb-8">
			<h2 class="font-medium text-mh-gray-50">most focussed on</h2>
			{#each $statisticsStore.getMostCheckedInHabits() as habit}
				<div class="mt-2">
					<h3 class="text-2xl font-medium mb-4">{habit.title}</h3>
					<Commitment
						totalCommitment={habit.commitment}
						size={CommitmentSize.Small}
						checkInsThisWeek={habit.checkinsThisWeek}
					/>
				</div>
			{/each}
		</section>
	{/if}

	{#if $statisticsStore.getLeastCheckedInHabits()?.length}
		<section class="mb-8">
			<h2 class="font-medium text-mh-gray-50">least focussed on</h2>
			{#each $statisticsStore.getLeastCheckedInHabits() as habit}
				<div class="mt-2">
					<h3 class="text-2xl font-medium mb-4">{habit.title}</h3>
					<Commitment
						totalCommitment={habit.commitment}
						size={CommitmentSize.Small}
						checkInsThisWeek={habit.checkinsThisWeek}
					/>
				</div>
			{/each}
		</section>
	{/if}
{:else}
	<EmptyState />
{/if}

<!-- <section class="mb-8">
	<h2 class="font-medium text-mh-gray-50 mb-6">consistency graph</h2>
	<ConsistencyGraph />
</section> -->
