<script>
	import CustomButton from './base/CustomButton.svelte';
</script>

<CustomButton on:click on:keydown>
	<div
		class="grid aspect-square h-12 m-px place-items-center rounded-3xl bg-mh-gray-90 text-mh-gray-10 drop-shadow-lg"
	>
		<slot />
	</div>
</CustomButton>
