<script>
	import CustomButton from './base/CustomButton.svelte';
</script>

<CustomButton on:click on:keydown>
	<div
		class="grid aspect-square h-8 m-px place-items-center rounded-2xl bg-mh-gray-10 text-mh-gray-90 hover:bg-mh-gray-20"
	>
		<slot />
	</div>
</CustomButton>
