<script>
	import Streak from "$lib/vectors/others/Streak.svelte";

</script>
<div class="h-full">
	<div class="h-full grid grid-rows-3">
		<section class="fixed inset-0 top-40">
			<Streak/>
		</section>
		<section class="row-start-3">
			<h1 class="text-mh-gray-50 text-xl mb-1">track your habits with</h1>
			<h1 class="text-mh-gray-10 text-4xl">minimal habits.</h1>
		</section>
	</div>
</div>
