<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import CustomButton from './buttons/base/CustomButton.svelte';
	import { commitmentChangeEvent } from '$lib/constants/events.constants';
	import { CommitmentSize } from '$lib/constants/ui.constants';

	export let totalCommitment = 7;
	export let isReadOnly = true;
	export let checkInsThisWeek = 0;

	export let size: CommitmentSize = CommitmentSize.Large;

	$: sizeClass =
		size === CommitmentSize.Large ? 'h-6' : size === CommitmentSize.Medium ? 'h-4' : 'h-2';

	const dispatch = createEventDispatcher();
	const handleCommitmentClick = (commitment: number) => {
		dispatch(commitmentChangeEvent, commitment);
	};
	$: getDynamicClass = (index: number) => {
		return index <= checkInsThisWeek && index <= totalCommitment
			? 'border-2 border-solid border-mh-gray-90'
			: index <= checkInsThisWeek && index > totalCommitment
			? 'bg-mh-gray-90'
			: '';
	};
</script>

<div class="flex gap-2">
	{#key checkInsThisWeek}
		{#each Array.from({ length: totalCommitment >= checkInsThisWeek ? totalCommitment : checkInsThisWeek }, (_, index) => index + 1) as index}
			{#if isReadOnly}
				<div class="{sizeClass} aspect-square rounded-xl bg-mh-gray-20 {getDynamicClass(index)}" />
			{:else}
				<CustomButton on:click={() => handleCommitmentClick(index)}>
					<div
						class="h-6 aspect-square rounded-xl bg-mh-gray-20 cursor-pointer {getDynamicClass(
							index
						)}"
					/>
				</CustomButton>
			{/if}
		{/each}
	{/key}
</div>
