<svg xmlns="http://www.w3.org/2000/svg" width="300.51" height="54.391" viewBox="0 0 300.51 54.391">
	<g id="Group_22" data-name="Group 22" transform="translate(-39.071 -599)">
		<g id="Group_21" data-name="Group 21">
			<path
				id="Path_10"
				data-name="Path 10"
				d="M2110,1637l43.915-48.732L2210.3,1637l49.753-15.053L2310.572,1637l55.621-33.934L2408.8,1637"
				transform="translate(-2070 -985)"
				fill="none"
				stroke="#08080a"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2.5"
			/>
		</g>
		<g id="Group_20" data-name="Group 20" transform="translate(-17 -161)">
			<g
				id="Ellipse_7"
				data-name="Ellipse 7"
				transform="translate(308 774)"
				fill="#e8e8eb"
				stroke="#08080a"
				stroke-width="2"
			>
				<circle cx="5" cy="5" r="5" stroke="none" />
				<circle cx="5" cy="5" r="4" fill="none" />
			</g>
			<g
				id="Ellipse_20"
				data-name="Ellipse 20"
				transform="translate(202 793)"
				fill="#e8e8eb"
				stroke="#08080a"
				stroke-width="2"
			>
				<circle cx="5" cy="5" r="5" stroke="none" />
				<circle cx="5" cy="5" r="4" fill="none" />
			</g>
			<g
				id="Ellipse_22"
				data-name="Ellipse 22"
				transform="translate(96 760)"
				fill="#e8e8eb"
				stroke="#08080a"
				stroke-width="2"
			>
				<circle cx="5" cy="5" r="5" stroke="none" />
				<circle cx="5" cy="5" r="4" fill="none" />
			</g>
		</g>
	</g>
</svg>
