<script lang="ts">
	import { dialogCloseEvent } from '$lib/constants/events.constants';
	import { createEventDispatcher, onMount } from 'svelte';

	export let id = 'dialog';
	let dialog: HTMLDialogElement;

	onMount(() => {
		dialog = document.getElementById(id) as HTMLDialogElement;
		dialog.showModal()
	});

	const dispatch = createEventDispatcher();

	const dialogCloseHandler = () => {
		dispatch(dialogCloseEvent);
		dialog.close();
	};
</script>

<dialog {id} class="max-h-full max-w-full h-full w-full select-text visible overflow-auto px-8 pb-8 pt-0">
	<slot {dialogCloseHandler} />
</dialog>
