<section class="mb-8">
	<h3 class=" mb-2 text-2xl font-medium leading-9">Things are looking a bit <br>empty here</h3>
	<h2 class="text-mh-gray-50 text-sm font-medium">please add a habit to continue</h2>
</section>
