<script>
	import { page } from '$app/stores';
	import Home from '../../vectors/icons/Home.svelte';
	import Profile from '../../vectors/icons/Profile.svelte';
	import Stats from '../../vectors/icons/Stats.svelte';
</script>

<nav class="flex justify-around items-center h-16 border-t border-mh-gray-20">
	<a class="text-mh-gray-50" class:text-mh-gray-90={$page.url.pathname === '/'} href="/">
		<Home />
	</a>
	<a class="text-mh-gray-50" class:text-mh-gray-90={$page.url.pathname === '/stats'} href="/stats">
		<Stats />
	</a>
	<a
		class="text-mh-gray-50"
		class:text-mh-gray-90={$page.url.pathname === '/profile'}
		href="/profile"
	>
		<Profile />
	</a>
</nav>
