<script lang="ts">
	export let score: number;
	export let totalScore: number;
	export let label: string;
</script>

<section class="bg-mh-gray-20 h-24 aspect-square rounded-md p-3 flex flex-col justify-between">
	<div>
		<span class="text-3xl text-mh-gray-90">{score}</span>
		<span class="text-lg font-medium text-mh-gray-50">/{totalScore}</span>
	</div>
	<div class="text-sm font-medium">{label}</div>
</section>
