<script lang="ts">
	import Close from '$lib/vectors/icons/Close.svelte';
	import Done from '$lib/vectors/icons/Done.svelte';
	import { createEventDispatcher, getContext } from 'svelte';
	import FloatingActionButton from '../shared/buttons/FloatingActionButton.svelte';
	import Header from '../shared/Header.svelte';
	import CustomButton from '../shared/buttons/base/CustomButton.svelte';
	import { dialogCloseEvent } from '$lib/constants/events.constants';
	import Commitment from '../shared/Commitment.svelte';
	import { habitStoreKey } from '$lib/constants/stores.constants';
	import type { IHabitStore } from '../../../stores/writables/Habit.store';

	$: title = '';
	let commitment = 0;

	const habitStore = getContext<IHabitStore>(habitStoreKey);

	const dispatch = createEventDispatcher();

	const closeHandler = () => {
		dispatch(dialogCloseEvent);
	};
	const addHabitHandler = async () => {
		const res = await fetch(`${import.meta.env.VITE_API_BASE_URL}/habit`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				title,
				commitment
			}),
			credentials: 'include'
		});
		if (res.ok) {
			const data = await res.json();
			habitStore.addHabit(data);
		}

		closeHandler();
	};
	const handleCommitmentChangeEvent = (event: CustomEvent<number>) => {
		commitment = event.detail;
	};
</script>

<main class="h-full w-full relative flex flex-col">
	<Header title="add habit.">
		<CustomButton on:click={() => closeHandler()}>
			<Close />
		</CustomButton>
	</Header>

	<section class="h-full text-sm mt-4 mb-8 text-mh-gray-90">
		<!-- svelte-ignore a11y-autofocus -->
		<section class="mb-8">
			<label for="title" class="font-medium">I want to..</label>
			<textarea
				class="w-full text-2xl font-medium placeholder-mh-gray-30 mt-3"
				name="title"
				id="title"
				placeholder="learn javascript"
				bind:value={title}
				autofocus
			/>
		</section>
		<section>
			<label for="commitment" class="font-medium">I want to do it..</label>
			<div class="mt-6">
				<Commitment
					isReadOnly={false}
					checkInsThisWeek={commitment}
					on:commitmentChangeEvent={(event) => handleCommitmentChangeEvent(event)}
				/>
			</div>
			<p class="mt-3 text-2xl font-medium text-mh-gray-30">{commitment || 'x'} days a week</p>
		</section>
	</section>
	{#if title && title.length && commitment}
		<div class="fixed bottom-8 right-8">
			<FloatingActionButton on:click={() => addHabitHandler()}><Done /></FloatingActionButton>
		</div>
	{/if}
</main>
