<script lang="ts">
	import { startOfWeek, addDays, format, isSameDay } from 'date-fns';
	import HabitDay from './HabitDay.svelte';
	import type { ICheckinDay } from '$lib/interfaces/checkin.interface';
	import HabitCheckin from './HabitCheckin.svelte';
	import Dialog from '../shared/Dialog.svelte';
	import { onMount } from 'svelte';
	import type { IHabitCheckin } from '$lib/interfaces/habit.interface';
	import HabitDetails from './HabitDetails.svelte';
	import CustomButton from '../shared/buttons/base/CustomButton.svelte';
	import Add from '$lib/vectors/icons/Add.svelte';
	import Commitment from '../shared/Commitment.svelte';
	import { CommitmentSize } from '$lib/constants/ui.constants';
	export let habit: IHabitCheckin;

	const today = new Date();
	let checkinDay: Partial<ICheckinDay>;
	let showHabitCheckinDialog = false;
	let showHabitDetailsDialog = false;

	const startOfCurrentWeek = startOfWeek(today, { weekStartsOn: 0 });
	let checkinDialog: HTMLDialogElement;
	let detailsDialog: HTMLDialogElement;
	const currentWeekDays: Date[] = [];

	for (let i = 0; i < 7; i++) {
		const currentDate = addDays(startOfCurrentWeek, i);
		currentWeekDays.push(currentDate);
	}
	$: currentCheckinDays = currentWeekDays.map((date: Date) => {
		return {
			date,
			isCheckin: !!habit.checkins?.find((checkin) => isSameDay(checkin.checkInDateTime ?? 0, date)),
			content:
				habit.checkins?.find((checkin) => isSameDay(checkin.checkInDateTime ?? 0, date))?.content ??
				null
		} as ICheckinDay;
	});

	$: currentWeekcheckInsThisWeek = currentCheckinDays.reduce(
		(accumulator, cwhd) => (cwhd.isCheckin ? accumulator + 1 : accumulator),
		0
	);

	const handleCheckinStart = (habit: IHabitCheckin) => {
		const existingHabitCheckinDay = habit.checkins.find((checkin) =>
			isSameDay(checkin.checkInDateTime ?? 0, new Date())
		);
		checkinDay = {
			...existingHabitCheckinDay,
			date: new Date()
		};
		showHabitCheckinDialog = true;
	};

	const handleOpenDetails = (event: MouseEvent) => {
		showHabitDetailsDialog = true;
	};

	const closeHandler = () => {
		showHabitCheckinDialog = showHabitDetailsDialog = false;
	};

	onMount(() => {
		checkinDialog = document.getElementById('habit-checkin-dialog') as HTMLDialogElement;
		detailsDialog = document.getElementById('habit-details-dialog') as HTMLDialogElement;
	});
</script>

<section>
	<div class="flex justify-between items-center mb-2">
		<CustomButton on:click={(event) => handleOpenDetails(event)}>
			<h3 class="text-2xl font-medium">
				{habit.title}
			</h3>
		</CustomButton>

		<CustomButton on:click={() => handleCheckinStart(habit)}>
			<Add />
		</CustomButton>
	</div>
	<CustomButton display="block" on:click={(event) => handleOpenDetails(event)}>
		<div class="flex justify-between mb-4 items-center">
			<Commitment
				totalCommitment={habit.commitment}
				size={CommitmentSize.Small}
				checkInsThisWeek={currentWeekcheckInsThisWeek}
			/>
			<CustomButton on:click={() => handleCheckinStart(habit)}>
				<span class="text-sm text-mh-gray-50">more</span>
			</CustomButton>
		</div>

		<p class="mb-2 text-xs font-medium text-mh-gray-50">
			{format(today, 'LLLL')}
		</p>
		<section class="flex justify-between">
			{#each currentCheckinDays ?? [] as checkinDay}
				<HabitDay {checkinDay} />
			{/each}
		</section>
	</CustomButton>
</section>

{#if showHabitDetailsDialog}
	<Dialog id="habit-details-dialog" let:dialogCloseHandler on:dialogCloseEvent={closeHandler}>
		<HabitDetails {habit} on:dialogCloseEvent={dialogCloseHandler} />
	</Dialog>
{/if}

{#if showHabitCheckinDialog}
	<Dialog id="habit-checkin-dialog" let:dialogCloseHandler on:dialogCloseEvent={closeHandler}>
		<HabitCheckin {checkinDay} {habit} on:dialogCloseEvent={dialogCloseHandler} />
	</Dialog>
{/if}
