<script lang="ts">
	import Close from '$lib/vectors/icons/Close.svelte';
	import { createEventDispatcher, getContext } from 'svelte';
	import Header from '../shared/Header.svelte';
	import CustomButton from '../shared/buttons/base/CustomButton.svelte';
	import { dialogCloseEvent } from '$lib/constants/events.constants';
	import type { IHabit, IHabitCheckin } from '$lib/interfaces/habit.interface';
	import HabitCalendar from './HabitCalendar.svelte';
	import { endOfWeek, format, isWithinInterval, startOfWeek } from 'date-fns';
	import Add from '$lib/vectors/icons/Add.svelte';
	import type { ICheckin, ICheckinDay } from '$lib/interfaces/checkin.interface';
	import Dialog from '../shared/Dialog.svelte';
	import HabitCheckin from './HabitCheckin.svelte';
	import FloatingActionButton from '../shared/buttons/FloatingActionButton.svelte';
	import { CommitmentSize } from '$lib/constants/ui.constants';
	import Commitment from '../shared/Commitment.svelte';
	import Delete from '$lib/vectors/icons/Delete.svelte';
	import { habitCheckinStoreKey, habitStoreKey } from '$lib/constants/stores.constants';
	import type { Readable } from 'svelte/store';
	import type { IHabitStore } from '../../../stores/writables/Habit.store';
	import type { IHabitCheckinStore } from '../../../stores/readables/HabitCheckin.store';

	export let habit: IHabitCheckin;

	let showHabitCheckinDialog = false;
	let checkinDay: Partial<ICheckinDay>;
	let firstDayOfMonth = new Date();

	const habitStore = getContext<IHabitStore>(habitStoreKey);
	const habitCheckinStore = getContext<Readable<IHabitCheckinStore>>(habitCheckinStoreKey);
	const dispatch = createEventDispatcher();

	const closeHandler = () => {
		dispatch(dialogCloseEvent);
	};
	const handleCheckinStart = (habit: IHabit) => {
		checkinDay = {
			date: new Date()
		};
		showHabitCheckinDialog = true;
	};
	const checkinCloseHandler = () => {
		showHabitCheckinDialog = false;
	};

	const deleteHabitHandler = async () => {
		const res = await fetch(`${import.meta.env.VITE_API_BASE_URL}/habit/${habit.habitId}`, {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json'
			},
			credentials: 'include'
		});
		if (res.ok) {
			habitStore.removeHabit(habit.habitId);
		}
		closeHandler();
	};

	const currentWeekCheckinCount = () => {
		const currentDate = new Date();
		const startOfCurrentWeek = startOfWeek(currentDate);
		const endOfCurrentWeek = endOfWeek(currentDate);
		const count = habit.checkins.reduce((accumulator, currentValue) => {
			return isWithinInterval(currentValue.checkInDateTime ?? 0, {
				start: startOfCurrentWeek,
				end: endOfCurrentWeek
			})
				? accumulator + 1
				: accumulator;
		}, 0);
		return count;
	};

	const handleCalendarMonthChangeEvent = (event: CustomEvent<Date>) => {
		firstDayOfMonth = event.detail;
	};
</script>

<main class="h-full w-full relative flex flex-col">
	<Header title="progress.">
		<CustomButton on:click={() => closeHandler()}>
			<Close />
		</CustomButton>
	</Header>
	<section>
		<div class="flex justify-between items-center">
			<h3 class="text-2xl font-medium mb-3">
				{habit.title}
			</h3>
			<CustomButton on:click={() => deleteHabitHandler()}>
				<Delete />
			</CustomButton>
		</div>

		<div class="mb-4">
			{#key habit.checkins?.length}
				<Commitment
					totalCommitment={habit.commitment}
					size={CommitmentSize.Small}
					checkInsThisWeek={currentWeekCheckinCount()}
				/>
			{/key}
		</div>
	</section>
	<HabitCalendar
		{habit}
		on:calendarMonthChangeEvent={(event) => handleCalendarMonthChangeEvent(event)}
	/>
	<section class="mt-10">
		{#key firstDayOfMonth}
			{#each $habitCheckinStore.getHabitCheckinsByHabitAndMonth(habit.habitId, firstDayOfMonth).checkins as checkin}
				<div class="mb-4">
					<p class="mb-1.5 text-xs font-medium text-mh-gray-50">
						{format(checkin.checkInDateTime ?? 0, 'dd MMM h:mm a')}
					</p>
					<p class="text-sm text-mh-gray-90">
						{checkin.content}
					</p>
				</div>
			{/each}
		{/key}
	</section>
</main>

<div class="fixed bottom-8 right-8">
	<FloatingActionButton on:click={() => handleCheckinStart(habit)}>
		<Add />
	</FloatingActionButton>
</div>
{#if showHabitCheckinDialog}
	<Dialog
		id="habit-checkin-dialog"
		let:dialogCloseHandler
		on:dialogCloseEvent={checkinCloseHandler}
	>
		<HabitCheckin {checkinDay} {habit} on:dialogCloseEvent={dialogCloseHandler} />
	</Dialog>
{/if}
