<script lang="ts">
	import Left from '$lib/vectors/icons/Left.svelte';
	import Right from '$lib/vectors/icons/Right.svelte';
	import {
		add,
		eachDayOfInterval,
		endOfMonth,
		format,
		getDay,
		isSameDay,
		startOfMonth,
		startOfToday,
		sub
	} from 'date-fns';
	import TertiaryButton from '../shared/buttons/TertiaryButton.svelte';
	import HabitDay from './HabitDay.svelte';
	import { createEventDispatcher, onMount } from 'svelte';
	import type { IHabit, IHabitCheckin } from '$lib/interfaces/habit.interface';
	import { calendarMonthChangeEvent } from '$lib/constants/events.constants';

	export let habit: Partial<IHabitCheckin>;
	let firstDayOfMonth = startOfMonth(startOfToday());
	let calendarDays: Date[];

	const dispatch = createEventDispatcher();

	const setDaysOfMonth = () => {
		const unshiftBasedOnStartingDay = new Array(getDay(firstDayOfMonth)).fill(undefined);
		const daysOfMonth: Date[] = eachDayOfInterval({
			start: firstDayOfMonth,
			end: endOfMonth(firstDayOfMonth)
		});
		calendarDays = [...unshiftBasedOnStartingDay.concat(daysOfMonth)];
		dispatch(calendarMonthChangeEvent, firstDayOfMonth);
	};

	$: checkinDays = calendarDays?.map((calendarDay) => ({
		date: calendarDay,
		isCheckin: !!habit?.checkins?.find((checkin) =>
			isSameDay(checkin.checkInDateTime ?? 0, calendarDay)
		)
	}));

	const goToPreviousMonthHandler = () => {
		firstDayOfMonth = sub(firstDayOfMonth, { months: 1 });
		setDaysOfMonth();
	};

	const goToNextMonthHandler = () => {
		firstDayOfMonth = add(firstDayOfMonth, { months: 1 });
		setDaysOfMonth();
	};

	onMount(() => {
		setDaysOfMonth();
	});
</script>

<section class="flex justify-between items-center">
	<div>
		<h5 class="text-md font-medium text-mh-gray-90">{format(firstDayOfMonth, 'MMMM')}</h5>
		<p class="text-xs font-medium text-mh-gray-50">{format(firstDayOfMonth, 'yyyy')}</p>
	</div>
	<div class="flex gap-3">
		<TertiaryButton on:click={() => goToPreviousMonthHandler()}>
			<Left />
		</TertiaryButton>
		<TertiaryButton on:click={() => goToNextMonthHandler()}>
			<Right />
		</TertiaryButton>
	</div>
</section>
<section class="mt-6">
	<div class="grid grid-cols-7 gap-3 grid-rows-7 place-items-center">
		<div class="text-center text-xs font-medium text-mh-gray-50">S</div>
		<div class="text-center text-xs font-medium text-mh-gray-50">M</div>
		<div class="text-center text-xs font-medium text-mh-gray-50">T</div>
		<div class="text-center text-xs font-medium text-mh-gray-50">W</div>
		<div class="text-center text-xs font-medium text-mh-gray-50">T</div>
		<div class="text-center text-xs font-medium text-mh-gray-50">F</div>
		<div class="text-center text-xs font-medium text-mh-gray-50">S</div>
		{#if checkinDays?.length}
			{#each checkinDays as checkinDay}
				{#if checkinDay.date}
					{#key checkinDay.date}
						<HabitDay isShowDayOfWeek={false} {checkinDay} />
					{/key}
				{:else}
					<span />
				{/if}
			{/each}
		{/if}
	</div>
</section>
