<script lang="ts">
	import Close from '$lib/vectors/icons/Close.svelte';
	import Done from '$lib/vectors/icons/Done.svelte';
	import { createEventDispatcher, getContext } from 'svelte';
	import FloatingActionButton from '../shared/buttons/FloatingActionButton.svelte';
	import Header from '../shared/Header.svelte';
	import CustomButton from '../shared/buttons/base/CustomButton.svelte';
	import { dialogCloseEvent } from '$lib/constants/events.constants';
	import { format } from 'date-fns';
	import type { IHabit } from '$lib/interfaces/habit.interface';
	import type { ICheckin, ICheckinDay } from '$lib/interfaces/checkin.interface';
	import { checkinStoreKey } from '$lib/constants/stores.constants';
	import type { ICheckinStore } from '../../../stores/writables/Checkin.store';

	export let habit: IHabit;
	export let checkinDay: Partial<ICheckinDay>;

	const checkinStore = getContext<ICheckinStore>(checkinStoreKey);
	let updatedContent = checkinDay.content ?? 'Have wrapped it up for the checkin';

	const dispatch = createEventDispatcher();

	const closeHandler = () => {
		dispatch(dialogCloseEvent);
	};

	const checkinHabitHandler = async () => {
		const checkin: ICheckin = {
			habitId: habit.habitId,
			content: updatedContent,
			checkInDateTime: new Date()
		};

		const res = await fetch(`${import.meta.env.VITE_API_BASE_URL}/checkin`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(checkin),
			credentials: 'include'
		});
		if (res.ok) {
			const data = await res.json();
			checkinStore.addCheckin(data);
		}

		closeHandler();
	};
</script>

<main class="h-full w-full relative flex flex-col">
	<Header title="checkin.">
		<CustomButton on:click={() => closeHandler()}>
			<Close />
		</CustomButton>
	</Header>
	<section>
		<h3 class="mb-4 text-2xl font-medium">{habit.title}</h3>
		<p class="flex gap-2 mb-2 text-xs font-medium text-mh-gray-50">
			<span>
				{format(checkinDay.checkInDateTime ?? new Date(), 'dd MMM h:mm a')}
			</span>
			{#if updatedContent && updatedContent.length}
				<span class="border-l border-mh-gray-200 pl-2"> {updatedContent.length} characters </span>
			{/if}
		</p>
	</section>
	<section class="h-full text-sm mt-8 mb-16 text-mh-gray-90">
		<!-- svelte-ignore a11y-autofocus -->
		<textarea
			class="w-full h-full"
			name="content"
			id="content"
			bind:value={updatedContent}
			autofocus
		/>
	</section>
	{#if updatedContent && updatedContent.length}
		<div class="fixed bottom-8 right-8">
			<FloatingActionButton on:click={() => checkinHabitHandler()}><Done /></FloatingActionButton>
		</div>
	{/if}
</main>
