<script lang="ts">
	import type { ICheckinDay } from '$lib/interfaces/checkin.interface';
	import { getDate, format, isSameDay, isAfter } from 'date-fns';

	export let checkinDay: Partial<ICheckinDay>;
	export let isShowDayOfWeek = true;

	const currentDayClasses = isSameDay(checkinDay.date ?? 0, new Date())
		? 'border-2 border-solid border-mh-gray-90'
		: '';
	const dayClasses = isAfter(checkinDay.date ?? 0, new Date()) ? 'bg-mh-gray-10' : 'bg-mh-gray-20';
	$: checkinClasses = checkinDay.isCheckin ? 'bg-mh-gray-90 text-mh-gray-10' : '';
</script>

<div>
	<div class="grid aspect-square h-9 place-items-center rounded-3xl {currentDayClasses}">
		<div
			class="grid aspect-square h-7 m-px place-items-center rounded-2xl text-sm cursor-default {checkinClasses} {dayClasses}"
		>
			<div>
				{getDate(checkinDay.date ?? 0)}
			</div>
		</div>
	</div>
	{#if isShowDayOfWeek}
		<div class="mt-1 text-center text-xs font-medium text-mh-gray-50">
			{format(checkinDay.date ?? 0, 'E')[0]}
		</div>
	{/if}
</div>
